<!--エラー文-->
<% if @book.errors.any? %>
<%= @book.errors.count %>error prohibited this obj from being saved:
<% @book.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>
<!--ここまで-->



<h2>User info</h2>
<%= render 'users/list', user: @user %>

<h2>New book</h2>
<%= render 'books/list', book: @book %>


<!--投稿一覧-->
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
</table>


<% @books.each do |book| %>
<table>
  <thead>
    <tr>
        <th><%= link_to user_path(book.user_id) do %>
        <%= attachment_image_tag book.user, :profile_image, :fill, 50, 40, fallback: "no_image.jpg" %></th>
      <% end %>
      <th><%= link_to book.title, book_path(book.id) %></th>
      <th><%= book.body %></th>
    </tr>
  </thead>
</table>
<% end %>
<!--ここまで-->
